body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: justify;
	text-shadow: 1px 1px 0.5px #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0.5px #000;
}
h1 {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 1px 1px 0.5px #000;
	color: #ec1e1e;
}
h2 {
	font-size: 24px;
	text-shadow: 1px 1px 0.5px #000;
	color: #FFF;
}
h3 , h4, h5, h6, p{
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
}
#header a:link , #header a:active, #header a:visited{
color: #ff212a;
}
#header h1{
	font-size: 60px;
	font-weight: bold;
	text-shadow: 1px 1px 0.5px #000;
}
#footer {
	color: #FFF;
	text-align: center;
	display: block;
	height: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 14px;
}

a:link , a:active, a:visited{
	color: #ff0000;
	text-decoration: none;
}
a:hover {
	color: #ff8787;
}

#menu a:link , #menu a:active, #menu a:visited{
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	font-style: normal;
	text-shadow: 1px 1px 0.5px #000;
}
#menu a:hover {
	color: #ff0000;
	text-shadow: 1px 1px 0.5px #000;	
}
#sidebar .sideBlock h2{
	font-size: 20px;
	text-shadow: 1px 1px 0.5px #000;
}
